* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.header, .footer {
    background-color: #303030;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.footer {
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 50px;
    left: 0;
    bottom: 0;

}

main {
    background-color: lightgray;
    max-width: 300px;
    display: flex;
    padding: 20px;
}

.default-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.project-list{
    padding-top: 20px;
}

.project-preview {
    background-color: white;
}
